.logger
  dt
    margin 10px 0 0 0
    font-weight bold
  dd
    padding 0 0 0 10px
  .ellipsis_content3
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow : hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

  .color_all
    color #99CCFF
  .color_debug
    color #66AA77
  .color_info
    color #66CCCC
  .color_warn
    color #FF9966
  .color_error
    color #FF6666
  .yellow
    background #ffff00
    
  .active_all
    background-color rgb(153, 204, 255)
    color rgb(255, 255, 255)
  .active_debug
    background-color: rgb(102, 170, 119)
    color rgb(255, 255, 255)
  .active_info
    background-color rgb(102, 204, 204) 
    color rgb(255, 255, 255)
  .active_warn
    background-color: rgb(255, 153, 102)
    color rgb(255, 255, 255)
  .active_error
    background-color rgb(255, 102, 102)
    color rgb(255, 255, 255)
